@keyframes  Header-logo-spin {
    from {
        transform: rotate(0deg);
       
      }
      to {
        transform: rotate(360deg);
      }
}

.div-img{
    width: 100%;
    background-color: black;
    height: 11rem;
    display: flex;
  justify-content: center;
  align-items:center;
}

.logoImage{
   display: inline-block;
    height: 7rem;
    animation: Header-logo-spin infinite 20s linear;
   }